In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv(/content/weather_data.csv)

SyntaxError: invalid syntax (ipython-input-4156427994.py, line 1)

In [4]:
df = pd.read_csv('/content/weather_data.csv')

In [5]:
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [6]:
df.head(15)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622
5,San Diego,2024-01-21 08:54:56,27.341055,49.023236,9.166543,27.473896
6,San Jose,2024-01-13 02:10:54,1.881883,65.742325,0.221709,1.073112
7,New York,2024-01-25 19:04:34,-6.894766,30.804894,8.027624,16.848337
8,New York,2024-03-29 05:20:30,0.963545,38.819158,3.640129,7.989024
9,San Jose,2024-05-18 09:14:02,-1.607088,82.198701,4.101493,25.647282
10,New York,2024-03-04 13:47:15,35.145559,54.752866,8.349195,25.430310
11,Houston,2024-03-07 22:03:36,15.816764,80.119902,3.760004,16.752132
12,Dallas,2024-02-27 21:07:10,32.016898,53.194371,3.552671,3.050196
13,Houston,2024-05-09 00:53:10,38.641269,85.952726,0.470782,20.779264
14,Houston,2024-05-12 15:57:55,39.666772,72.747026,1.263722,6.479492

In [7]:
df.tail()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
342448,Philadelphia,2024-04-14 06:46:14,-3.657122,53.160648,4.506144,21.257773
342449,New York,2024-05-12 21:50:32,29.642631,36.316925,7.016490,28.929163
342450,Philadelphia,2024-01-08 14:41:49,11.313644,60.207216,0.198020,2.335852
342451,Philadelphia,2024-05-09 08:40:53,39.304150,75.129508,6.490984,2.906409
342452,San Diego,2024-04-29 16:02:30,34.264840,NaN,NaN,NaN

In [8]:
df.tail(155)

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
342298,Los Angeles,2024-02-27 01:25:14,21.800060,89.097669,2.204588,2.153423
342299,Dallas,2024-02-01 08:59:04,-6.167389,51.937312,8.617790,7.301046
342300,San Antonio,2024-05-02 19:39:26,21.255157,70.440706,1.344739,25.804025
342301,San Diego,2024-04-02 03:41:37,19.283024,49.177517,1.377311,19.077450
342302,San Antonio,2024-01-17 09:51:33,2.793229,75.031660,6.387813,24.088958
...,...,...,...,...,...,...
342448,Philadelphia,2024-04-14 06:46:14,-3.657122,53.160648,4.506144,21.257773
342449,New York,2024-05-12 21:50:32,29.642631,36.316925,7.016490,28.929163
342450,Philadelphia,2024-01-08 14:41:49,11.313644,60.207216,0.198020,2.335852
342451,Philadelphia,2024-05-09 08:40:53,39.304150,75.129508,6.490984,2.906409
342452,San Diego,2024-04-29 16:02:30,34.264840,NaN,NaN,NaN

In [9]:
df.shape

(342453, 6)

In [10]:
df.describe()

       Temperature_C   Humidity_pct  Precipitation_mm  Wind_Speed_kmh
count  342453.000000  342452.000000     342452.000000   342452.000000
mean       14.774382      60.039621          5.103511       14.992403
std        14.487153      17.314492          2.947522        8.665528
min       -19.950223      30.000223          0.000009        0.000051
25%         2.254190      45.069512          2.572192        7.483989
50%        14.758808      60.074316          5.105731       14.981194
75%        27.248542      75.033415          7.605554       22.506195
max        39.999692      89.999977         14.917006       29.999973

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342453 entries, 0 to 342452
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Location          342453 non-null  object
 1   Date_Time         342453 non-null  object
 2   Temperature_C     342453 non-null  float64
 3   Humidity_pct      342452 non-null  float64
 4   Precipitation_mm  342452 non-null  float64
 5   Wind_Speed_kmh    342452 non-null  float64
dtypes: float64(4), object(2)
memory usage: 15.7+ MB

In [12]:
df.dtypes

Location             object
Date_Time            object
Temperature_C       float64
Humidity_pct        float64
Precipitation_mm    float64
Wind_Speed_kmh      float64
dtype: object